@import './theme.scss';

.ql-container,
.ql-editor {
	height: inherit !important;
}

.ql-container,
.ql-toolbar {
	border: none !important;
}

.ql-toolbar {
	border-bottom: 1px solid #ccc !important;
}
