@font-face {
	font-family: 'Computer Modern';
	src: url('/cmunorm.ttf') format('truetype');
}

@font-face {
	font-family: 'Century Old Style';
	src: url('/Century Old Style Std Regular.otf') format('opentype');
}

$enable-rounded: false;
$font-family-base: 'Computer Modern';

$primary: #202020;
$secondary: #a8a8a8;
$success: #0a0;
$danger: #a00;
$info: #aaa;
$warning: #a40;
$light: #f1f1f1;
$dark: #111;

$container-max-widths: (
	sm: 320px,
	md: 480px,
	lg: 640px,
	xl: 768px,
	xxl: 960px
);

/** ====================
= Button Customizations
======================== **/

$btn-border-radius: 0px;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Century Old Style';
}
