@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';

$spacer: 0.5rem;
$enable-rounded: false;
$font-family-base: 'Roboto Mono', monospace;

$primary: #1d7a82;
$success: #1d8225;
$info: #531d82;
$warning: #826a1d;
$danger: #82381d;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
