@font-face {
	font-family: 'Computer Modern';
	src: url('/cmunorm.ttf') format('truetype');
}

@font-face {
	font-family: 'Century Old Style';
	src: url('/Century Old Style Std Regular.otf') format('opentype');
}

$enable-cssgrid: true;
$enable-rounded: true;
$btn-border-radius: 3px;
$font-family-base: 'Computer Modern';

$primary: #1B72B3;
$secondary: #a8a8a8;
$success: #28BC1C;
$danger: #CA1F1F;
$info: #aaa;
$warning: #F7B81B;
$light: #f1f1f1;
$dark: #111;

$spacer: 1rem;
$spacers: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 6,
	7: $spacer * 9,
	8: $spacer * 12,
);

$container-max-widths: (
	// container widths with bootstrap breakpoints
	// see: https://getbootstrap.com/docs/5.0/layout/breakpoints/
	sm: 480px,
	// <= 576px,
	md: 640px,
	// <= 768px
	lg: 768px,
	// <= 992px
	xl: 992px,
	// <= 1200px
	xxl: 1024px // <= 1400px
);

/** ====================
= Button Customizations
======================== **/

// Webkit button rendering fix.
a.btn {
	-webkit-appearance: none;
}

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Century Old Style';
}